<!--Bid part-->
<div class="row main-area bid-more">
  <div class="col-md-12 text-center">

    <h2>Formulaire d'enchère</h2>

    <!-- Paiement form -->
    <form id="paiement-form" novalidate>
      <div class="row">
        <div class="col-md-3 col-sm-1"></div>

        <!-- Form first part -->
        <div class="col-md-6 col-sm-10 information">

          <!-- Name -->
          <div class="form-group">

            <label for="form-name">Nom *</label>
            <div class="icone-field">
              <span class="icone-field-icone fa fa-user"></span>
              <input type="text" class="form-control icone-field-field" id="form-name" maxlength="40" aria-describedby="name" placeholder="Choisisser un nom" required>
            </div>
            <span class="error-message" id="mandatoryFields">Merci de renseigner un nom</span>
          </div>

          <!-- Image -->
          <div class="form-group">

            <!-- Information bubble -->
            <span tabindex="0" class="info-icon fa fa-info-circle" data-trigger="focus" role="button" data-toggle="popover" data-placement="bottom" data-content="Types acceptés : jpeg, png, jpg, gif. Taille maximum : 4 Mo."></span>
          
            <!-- Image -->
            <div class="img-input">
              <label for="form-image"><strong>Image</strong> </label> <!-- (jpeg, png, jpg, gif - Maximum 4Mo) -->
              <input type="file" id="form-image" class="form-control" accept=".jpeg, .jpg, .png, .gif" data-buttonBefore="true" data-text="Parcourir" required>
              <div id="button-form-image">
                <label for="form-image" class="btn btn-form-image">Parcourir </label>
                <span id="form-image-text"></span>
              </div>
              <span id="wrongImageType" class="error-message"> Seuls les type jpeg, jpg, png et gif sont acceptés </span>
              <span id="noImage" class="error-message"> Merci de selectionner une <strong>image</strong> </span>
              <span id="imageToBig" class="error-message"> La taille de l'<strong>image</strong> est trop importante </span>
            </div>  
          </div>
       
          <!-- Link -->
          <div class="form-group">

            <!-- Information bubble -->
            <span tabindex="0" class="info-icon fa fa-info-circle" data-trigger="focus" role="button" data-toggle="popover" data-placement="bottom" data-content="Choisissez un lien vers lequel sera rediriger les utilisateurs cliquant sur votre image."></span>

            <label for="form-url">Lien url</label>
            <div class="icone-field">
              <span class="icone-field-icone fa fa-external-link"></span>
              <input type="url" class="form-control icone-field-field" id="form-url" placeholder="Entrez un lien">
            </div>
          </div>

          <!-- Text -->
          <div class="form-group">
            
            <!-- Information bubble -->
            <span tabindex="0" class="info-icon fa fa-info-circle" data-trigger="focus" role="button" data-toggle="popover" data-placement="bottom" data-content="Laissez libre cours à votre imagination. Le texte apparaitra en bas de l'image."></span>

            <label for="form-text">Texte complémentaire (130 caractères)</label>
            <div class="icone-field">
              <span class="icone-field-icone fa fa-file-text"></span>
              <input type="text" class="form-control icone-field-field" id="form-text" maxlength="130" placeholder="Entrez un text complémentaire">
            </div>
          </div>

          <!-- Selected price -->
          <div class="form-group">

            <label for="form-price"><strong>Montant</strong> (<strong>enchère</strong> actuelle : <span class="bid-value"><%= bidders[0].price / 100 %></span> €) </label>
            <input type='hidden' class="min-price" value='<%= (bidders[0].price + 1) / 100 %>'/>
            <div class="icone-field">
              <span class="icone-field-icone fa fa-eur"></span>
              <input type="number" class="form-control form-price icone-field-field" id="form-price" placeholder="Entrez un montant" required> 
            </div>
            <span class="error-message" id="price-too-low">L'<strong>enchère</strong> minimum est de <span class="min-bid-value"><%= (bidders[0].price + 1) / 100 %></span> €</span>
            <span class="error-message" id="missing-price">Merci de renseigner un <strong>montant</strong> correct</span>
          </div>

           <!-- User terms -->
          <div class="checkbox">
            <label for="form-terms">
                <input id="form-terms" type="checkbox"> J'accepte les <a class="terms" data-toggle="modal" data-target="#terms-modal">conditions générales</a>
            </label>
            <br>
            <span class="error-message" id="missing-terms">Merci d'accepter les conditions générales</span>
          </div>

          <!-- Go to the pay part -->
          <input type="button" id="trump" value="ENCHERIR" href="#paiement" class="bold"/>

          <p class="star-legend">* Champ obligatoire</p>
            
          
        </div>
      </div></br>
       
        <!-- Separation between the two parts of form -->
      <div class="row">
        <div class="col-md-3"></div>

        <!-- Form second part -->
        <div class="col-md-6 paiement" id="paiement">

            <!-- Information bubble -->
            <span tabindex="0" class="info-icon fa fa-info-circle" data-trigger="focus" role="button" data-toggle="popover" data-placement="bottom" title="Informations" data-content="Aucune des informations suivantes ne seront concervées sur notre site"></span>

          <div class="form-group row">
            <label class="col-2 text-left" for="form-card-name">Nom *</label>
            <div class="icone-field col-10">
              <span class="icone-field-icone fa fa-user"></span>
              <input class="form-control icone-field-field" type="text" name="card-name" id="form-card-name">
            </div>
            <div class="col-2"></div>
            <span class="error-message" id="missing-card-name">Merci de renseigner le nom inscrit sur votre carte</span>
            
          </div>

          <div class="form-group row">
            <label class="col-2 text-left" for="form-email">Email</label>
            <div class="icone-field col-10">
              <span class="icone-field-icone fa fa-envelope"></span>
              <input class="form-control icone-field-field" type="email" name="form-email" id="form-email">
            </div> 
            <div class="col-2"></div>
            <span class="error-message" id="wrong-email">
              Le format de l'email est invalide
            </span>
          </div>

          <!-- Card number -->
          <div class="form-group row">
            <label class="col-2 text-left" for="card-element">Carte *</label>
            <div class="col-10 icone-field">
              <div id="card-element" class="form-control col-10"></div>
            </div>

            <div class="col-2"></div>

            <!-- Outcome for stripe -->
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">
                <span class="token"></span>
              </div>
            </div>
          </div>
          

          <!-- Missing fields message -->
          <div class="invalid-feedback">
            Certains champs ne sont pas remplis correctement
          </div>

          <!-- Submit -->
          <div>
            <button type="submit" class="confirm-button bold" id="buy-button">VALIDER</button>
            <div class="loading">
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Terms modal -->
<div class="modal fade" id="terms-modal" tabindex="-1" role="dialog" aria-labelledby="termsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="termsModal">Conditions Générales</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><span class="bold">La loi française s'applique à ce site ainsi qu'à la présente déclaration</span></p>
        
        <h5>Définition des termes</h5>
        <p><span class="bold">Text complémentaire </span>: Fait référence au champ "Texte complémentaire demandé dans le fomulaire d'enchère. Ce dernier étant facultatif.</p>        
        
        <h5>Conditions générales de vente</h5>
        <p><span class="bold">Article 1 </span>: Tout paiement effectué est non remboursable.</p>
        <p><span class="bold">Article 2 </span>: Protection des données personnelles : Aucune donnée personnelle n’est enregistrée sur le site. </p>
        <p><span class="bold">Article 3 </span>: Tout contenu choquant (à caractère raciste, sexuel, …) ou étant soumis aux droits d’auteur pourra entraîner le retrait de ce dernier sans préavis ni remboursement envisageable.</p>
        <p><span class="bold">Article 4 </span>: Tout manquement au conditions générales de vente et/ou conditions d’utilisation pourra entraîner le retrait du contenu sans préavis ni remboursement envisageable.</p>
        <p><span class="bold">Article 5 </span>:  Seules les trois enchères les plus élevées seront affichées sur la page d’accueil selon le positionnement suivant : La première au centre, la deuxième à gauche et le troisième à droite.</p>
        <p><span class="bold">Article 6 </span>: Si un “texte complémentaire” est renseigné lors de l’enchère, ce dernier ne sera présent que pour l’enchère la plus élevé.</p>
        <p><span class="bold">Article 7 </span>: La totalité des enchères (du moment qu’elles respectent les présentes conditions) seront affichées dans la page “Classement” mais le “texte complémentaire” n’y sera plus affiché.</p>
        <p><span class="bold">Article 8 </span>: Les images pouvant étant redimensionnées et leur format modifié afin de ne pas rendre le site trop long à charger, ces dernières peuvent voir leur qualité diminuer. Un aperçu est proposé avant la validation du paiement afin de confirmer le rendu final de l’image.</p>
        <p><span class="bold">Article 9 </span>: Les présentes conditions générales s’appliquent à tout contenu publié sur le site. Les conditions générales sont effectives dès lors que le contenu est accessible sur le site.</p>


        <h5>Conditions générales d’utilisation</h5>

        <h6>1 - Protection des droits d'autrui</h6>
        <p><span class="bold">Article 10 </span>: Les images soumises à des droits d’auteur seront retirées si cela est réclamé par qui de droit.</p>
        <p><span class="bold">Article 11 </span>: Tout contenu allant à l’encontre de la loi française est interdit.</p>
        <p><span class="bold">Article 12 </span>: Tout contenu concernant un tiers doit être accepté par ce dernier avant d’être publié.</p>
        <p><span class="bold">Article 13 </span>: Tout contenu utilisé pour se moquer d’autrui pourra être retiré suite à la demande de la (ou des) personne(s) concerné(es) par ce contenu. Le retrait du contenu sera effectué sans préavis ni remboursement envisageable.</p>

        <h6>1 - Sécurité</h6>
        <p><span class="bold">Article 14 </span>: Toute publication de contenu à caractère discriminatoire, pornographique, incitant à la haine ou à la violence est interdit et pourra être supprimé sans préavis ni remboursement.</p>
        <p><span class="bold">Article 15 </span>: Tout lien redirigeant vers un site frauduleux, illégal, choquant, discriminant, pornographique ou incitant à la haine et à la violence sera retiré du contenu de l’enchère. </p>

        <h6>3 - Responsabilité</h6>
        <p><span class="bold">Article 16 </span>: Nous ne sommes pas responsables des conséquences de la publication d’une image ne respectant pas les conditions générales d’utilisation.</p>
        <p><span class="bold">Article 17 </span>: Nous ne sommes pas responsables de tout usage du site lié à la moquerie.</p>
        <p><span class="bold">Article 18 </span>: En cas de litige, une première phase de négociation aura lieu (résolution à l’amiable de bonne foi) avant tout recours à la juridiction compétente.</p>
        <p><span class="bold">Article 19 </span>: Tout recours en justice dépendra de la juridiction compétente de Nanterre.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>