<div class="social-div">
    <span class="contact-us" data-toggle="modal" data-target="#contact"> NOUS CONTACTER </span>
    <div class="fb-share-button" data-href="http://quiestleplusriche.fr" data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fquiestleplusriche.fr%2F&amp;src=sdkpreparse">
        </a>
    </div>
    <a class="twitter-share-button"
        href="https://quiestleplusriche.fr"
        data-text="C'est qui le boss ? "
        data-hashtags="jesuisleplusriche"
        data-via="quiestleplusriche">
    </a>
</div>


<div id="contact" class="modal fade">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h6>Nous contacter par mail</h6>
      </div>
      <div class="modal-body" >
        <i class="fa fa-envelope" aria-hidden="true"></i> : <strong>amgproject@outlook.fr</strong></p>
      </div>

    </div>

  </div>
</div>