<div class="social-div">
    <span class="contact-us" data-toggle="modal" data-target="#contact"> NOUS CONTACTER </span>

    <div class="fb-share-button" 
      data-href="http://quiestleplusriche.fr" 
      data-layout="button">
    </div>

    <a class="twitter-share-button"
        href="https://quiestleplusriche.fr"
        data-text=""
        data-hashtags="jesuisleplusriche">
    </a>
</div>


<div id="contact" class="modal fade">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h6>Nous contacter par mail</h6>
      </div>
      <div class="modal-body" >
        <i class="fa fa-envelope" aria-hidden="true"></i> : <strong>contact@quiestleplusriche.fr</strong></p>
      </div>

    </div>

  </div>
</div>