<div class="paiement-success text-center">
  Une nouvelle personne a <strong>surenchéri</strong> !! La nouvelle <strong>enchère</strong> est de <span class="bid-value"></span>
</div>
<div class="row main-title">
<!--    <div class="col-md-4 img1">
    <img class="float-right" src="images/static/header2.png">
  </div> -->
  <div class="col-md-9 ">
    <div class="row">
      <div class="col-md-1">
      <a href="/">
        <img src="public\images\static\logo2.png" alt="Logo qui est le plus riche" width="60" /></div>
      </a>

      <div class="col">
        <h1>
          <a href="/">
            <span>Qui est le plus <strong>riche</strong> ?</span>
          </a>
        </h1>
      </div>
    </div> 
  </div>
<!--    <div class="col-md-4 img2">
    <img class="float-left" src="images/static/header1.png">
  </div> -->


<!-- Menu area -->
<div class="col">
  <div class="row" id="menu">

    <div class="col-md-4 menu-item active text-center" id="picture-area">
      <div class="fa fa-home"></div>
      <div class="menu-label">Accueil</div>
    </div>

    <div class="col-md-4 menu-item text-center" id="rank-table-area">
      <div class="fa fa-trophy"></div>
      <div class="menu-label">Classement</div>
    </div>

    <div class="col-md-4 menu-item text-center" id="bid-more">
      <div class="fa fa-euro"></div>
      <div class="menu-label"><strong>Enchérir</strong></div>
    </div>
</div>
</div>