<!DOCTYPE html>
<html>
  <head>
    <title>C'est qui le plus riche</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  </head>
  <body>

    <!-- Modals area -->
    <div id="modal-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal-form-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Je deviens le plus riche !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <form id="new-form">
              <div class="form-group">
                <label for="name">Nom *</label>
                <input type="text" class="form-control" id="form-name" aria-describedby="name" placeholder="Entrez votre nom" required>
                <small id="name" class="form-text text-muted"></small>
              </div>

              <div class="form-group">
                <label for="image">Image (jpeg, png, jpg, gif - Maximum 2Mo) *</label>
                <div id="wrongImageType" class="error-message"> Seuls les type jpeg, jpg, png et gif sont acceptés </div>
                <input type="file" class="form-control" id="form-image" required>
              </div>

              <div class="form-group">
                <label for="url">Lien url</label>
                <input type="url" class="form-control" id="form-url" placeholder="Entrez un lien">
              </div>

              <div class="form-check">
                <label for="text">Texte complémentaire</label>
                <input type="text" class="form-control" id="form-text" placeholder="Entrez un text complémentaire">
              </div>

              <br>
              
                <button id="buy-button" class="confirm-button btn btn-primary float-right">valider</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End modals area -->

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-9">
          <header class="text-center">
            <h1>Qui est le plus riche</h1>
          </header>
        </div>
        <div class="col-md-3 ml-md-auto">
            <button data-token="<%= res[2].token %>" type="button" id="bid-more" class=" buy-button btn btn-primary" data-toggle="modal" data-target="#modal-form">
              Surenchérir
            </button>
            <button data-token="<%= res[3].token %>" type="button" id="no-time" class="buy-button btn btn-warning" data-toggle="modal" data-target="#modal-form">
             J'ai pas le temps
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="image">
            <img id="image" src="public/images/fullsize/<%= res[0].img_path %>" class="richest-image rounded mx-auto d-block img-thumbnail" alt="image from richest">
          </div>
        </div>
      </div>
    </div>

    <footer>
      
    </footer>
  </body>
</html>

<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/default.js" ></script>
<script src="/socket.io/socket.io.js"></script>  
<script>  
  var socket = io.connect(window.location.host);
  socket.on('newBidder', function(data){
    console.log(data)
    if(data[0].button != null){
      $('#bid-more').replaceWith('<button data-token="'+data[0].button.token+'" type="button" id="bid-more" class=" buy-button btn btn-primary" data-toggle="modal" data-target="#modal-form">' 
              + 'Surenchérir'
             + '</button>')
    }

    if(data[0].noTimeButton != null){
      $('#not-time').replaceWith(  
        '<button data-token="'
        + data[0].noTimeButton.token
        + '" type="button" id="bid-more" class=" buy-button btn btn-primary" data-toggle="modal" data-target="#modal-form">' 
        + 'J\'ai pas le temps'
        + '</button>'
      );
    }

    if(data[1] != null){
      $('#image').replaceWith(
        '<img src="public/images/fullsize/'+data[1].img_path+'" class="richest-image rounded mx-auto d-block img-thumbnail" alt="image from richest">'
      )
    }
  });

  socket.on('disconnect', function(){

  });
</script>  