<!DOCTYPE html>
<html>
<head>
    <title>C'est qui le plus riche ?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
<div class="container-fluid">

  <% include header %>

  <% include rankTable %>

  <!-- home page -->
  <div class="row main-area picture-area justify-content-md-center align-items-end">
    <% include homepage %>
  </div>

  <% include bidForm %>

  <% include footer %>
  
</div>
    
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js" ></script> 
<script src="/socket.io/socket.io.js"></script>  
<script src="https://js.stripe.com/v3/"></script>
</body>
</html>