<!--Rank part -->
<div class="row main-area rank-table-area">
	<div class="col-md-8 mx-auto">

		

		<!-- Rank table -->
		<div class="rank-table">
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th class="text-left"></th>
						<th class="text-left"><span class="fa fa-user"></span> Nom</th>
						<th class="text-center"><span class="fa fa-eur"></span> <strong>Enchère</strong></th>
						<th class="text-center"><span class="fa fa-clock-o"></span> Date</th>
					</tr>
				</thead>
				<tbody>
					<% include rankTableContent %>
				</tbody>
			</table>
		</div>
	</div>
</div>