/* Font */
#menu .menu-item {
    font-size: 5vh;
}

/* Style */


#menu .menu-item {
    color: grey;
}

.rank-table {
    overflow: auto;
    max-height: 60vh;
}

.text-truncate {
    max-width: 90px;
}

/* Bid more part */
.bid-more .info-icon {
    font-size: 20px;
}

#paiement-form button {
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
}

/* Menu */
#menu .menu-item {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
    cursor: pointer;
}

#menu .menu-item.active {
    border-bottom: 2px solid #446084;
    color: #446084;
    padding-bottom: 5px;
    font-weight: bold;
}

#menu {
    margin-bottom: 20px;
}



/* paiement confirmation */

#bid-summary .confirm {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

#bid-summary .confirm button {
    margin: 10px;
}

#bid-summary article{
    min-height: 530px;
}

#bid-summary .top-rank {
    margin-bottom: 25px;
}

#bid-summary td, th {
    width: 40px;
    text-align: center;
}

#bid-summary table {
    width: 200px;
}

#bid-summary table {
    width: 135px;
}

#bid-summary .block-image .img, #bid-summary .block-image .img img {
    max-height: 400px;
    width: 100%;
}
#bid-summary .block-image .img {
    min-height: 250px;
}

#bid-summary .block-image header {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

#bid-summary .richest-text {
    position: relative;
    height: 60px;
    top: -60px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#bid-summary .richest-text span {
    word-break: break-all;
}

/* Homepage */
.main-area [data-rank="1"] img {
    min-height: 250px;
    max-height: 500px;
}

.main-area [data-rank="2"] img {
    min-height: 150px;
    max-height: 350px;
}

.main-area [data-rank="3"] img {
    min-height: 100px;
    max-height: 250px;
}

.main-area [data-rank="3"] .block-image {
    max-width: 80%;
}
