/* Font */


/* Style */


#menu .menu-item {
    color: grey;
}

.rank-table .picto-medal {
    height: 50px;
    width: 50px;
}

/* Bid more part */
.bid-more .info-icon {
    font-size: 20px;
}

#paiement-form button {
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
}

#paiement label {
    margin-top: 5px;
}

/* Menu */
.main-title{
    border-bottom: 1px solid #e6e6e6;
    background-color:white;
}

#menu .menu-item {
    padding-bottom: 5px;
    cursor: pointer;
}

#menu .menu-item.active {
    color: #446084;
    padding-bottom: 5px;
    font-weight: bold;
}




/* paiement confirmation */

#bid-summary .confirm {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

#bid-summary .confirm button {
    margin: 10px;
}

#bid-summary article{
    min-height: 530px;
}

#bid-summary .top-rank {
    margin-bottom: 25px;
}

#bid-summary td, th {
    width: 40px;
    text-align: center;
}

#bid-summary table {
    width: 200px;
}

#bid-summary table {
    width: 135px;
}

#bid-summary .block-image .img, #bid-summary .block-image .img img {
    max-height: 400px;
    width: 100%;
}
#bid-summary .block-image .img {
    min-height: 250px;
}

#bid-summary .block-image header {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

#bid-summary .richest-text {
    position: relative;
    height: 60px;
    top: -60px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#bid-summary .richest-text span {
    word-break: break-all;
}

/* Homepage */
.main-area [data-rank="1"] img {
    min-height: 280px;
    max-height: 500px;
}

.main-area [data-rank="2"] img {
    min-height: 180px;
    max-height: 250px;
}

.main-area [data-rank="3"] img {
    min-height: 80px;
    max-height: 150px;
}

/* Bid part */

.icone-field-field{
    padding-left: 35px;
}

.icone-field-icone{
    position:absolute;
    left:10px;
    top:calc(50% - 10px);
}

#paiement-form .information,
#paiement-form .paiement {
    border: 2px solid #c9b25f;
    border-radius: 6px;
    padding: 25px;
}

