/************************* Fonts ****************************/
@font-face {
	font-family: "CormorantGaramond_Light";
	src: url('..\\fonts\\Cormorant_Garamond\\CormorantGaramond-Light.ttf');
}

@font-face {
	font-family: "CormorantGaramond_Bold";
	src: url('..\\fonts\\Cormorant_Garamond\\CormorantGaramond-Bold.ttf');
}

@font-face {
	font-family: "Raleway_ExtraLight";
	src: url('..\\fonts\\Raleway\\Raleway-ExtraLight.ttf');
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 4em;
	font-family: "CormorantGaramond_Light";
	color: #cc0000;
}

.rank-header, .richest-name{
	font-family: "CormorantGaramond_Bold";
}

.richest-text, .timer, .bid-more, .menu-item{
	font-family: "Raleway_ExtraLight";
}

table td{
	font-family: "CormorantGaramond_Light";
	font-size: 1em;
}

/************************* CSS ****************************/

body {
	min-width: 1150px;
	background-color: #fafafa;
}

.thumbs {
	max-height: 50px;
	max-width: 50px;
}

.rank-table {
	display: none;
}

.rank-header {
	max-height: 50px;
	padding: 14px;
	border: solid grey;
	border-width: 1px 1px 0px 1px;
}

.rank-header img {
	position: absolute;
	right: 25px;
}

.text-truncate {
    max-width: 90px;
}

.main-title {
	margin-top: -5vh;
	margin-bottom: 2vh;
}

.img-text .img-fluid {
	border: 1px solid #e6e6e6;
}

.main-article header {
	background-color: white;
	max-height: 50px;
	min-height: 30px;
	padding: 3%;
	border: solid #e6e6e6;
	border-width: 1px 1px 1px 1px;
}

.main-article .richest-text {
	background-color: white;
	min-height: 30px;
	padding: 3%;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	position: relative;

}

.main-article {
	display: inline-block;
}

.bid-more {
	display:none;
}

#menu .menu-item {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 5px;
	cursor: pointer;
}

#menu .menu-item.active {
	border-bottom: 2px solid #cc0000;
	color: #cc0000;
	padding-bottom: 5px;
	font-weight: bold;
}

#menu {
	margin-bottom: 20px;
}

.img-text .img {
	min-width: 400px;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid #e6e6e6;
	border-width: 0px 1px 0px 1px;
	background-color: #e6e6e6
}

.main-title img {
	max-width: 350px
}

/*.main-title, #menu, .main-article header, .richest-text, .img-text .img {
	opacity: 0; 
}*/