/* Fonts */
.rank-table table td, .rank-table table button {
	font-size: 4vw;
}

#paiement-form, #paiement-form .form-control {
	font-size: 5vw;
}




/* Styles */
.rank-table table td {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

#paiement-form .form-group {
	margin-bottom: 5vh;
	margin-top: 5vh;
}