/* Fonts */

html {
    font-size: 150%;
}


/* Styles */

header.main-header {
    margin-bottom: 5vh;
}


/* Menu */

#menu {
    border-bottom: 1px solid var(--main-color-1);
    background-color: var(--main-color-1);
    margin-bottom: 3vh;
}

#menu .menu-item {
    padding: 25px;
    border-bottom: 1px solid #212121;
}


/* Rank table */

.rank-table table td {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    height: 150px;
}

.rank-table {
    margin-bottom: 10vh;
}

.rank-table th .fa {
    margin-right: 15px;
}

.rank-table .see-more {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.rank-table .picto-medal {
    height: 150px;
    width: 150px;
}


/* Thumbs */

.thumbs {
    margin-right: 20px;
    max-width: 140px;
    max-height: 110px;
    cursor: pointer;
}

#paiement-form .form-group {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#paiement-form button {
    background: var(--main-color-2);
    color: var(--main-color-1);
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    width: 100%;
    outline: none;
}

#paiement-form #form-terms {
    width: 40px;
    height: 40px;
}

.text-truncate {
    max-width: 350px;
}


/* paiement confirmation */

#bid-summary .block-image .img,
#bid-summary .block-image .img img {
    max-height: 800px;
}

.main-area [data-rank="1"] img {
    min-height: 500px;
    max-height: 800px;
}

#bid-summary .modify {
    margin-right: 2rem !important;
}

#bid-summary .paye {
    margin-left: 2rem !important;
}


/* Bid part */

#paiement-form .information,
#paiement-form .paiement {
    border: 4px solid var(--main-color-1);
    border-radius: 10px;
    padding: 25px;
}

.info-icone {
    padding-bottom: 20px;
}

.icone-field-icone {
    position: absolute;
    left: 10px;
    top: calc(50% - 1rem);
}

#trump {
    border-radius: 8px;
}

#paiement label {
    margin-top: 10px;
}

#form-image-text {
    padding-left: 15px;
    position: relative;
    top: 7px;
}

.footer {
    margin-top: 100px;
    padding: 0;
    background-color: transparent;
    color: var(main-color-2);
}

.footer .w-100 {
    height: 20px;
}

.footer .contact {
    color: var(--main-color-1);
}

.footer .btn-social-icon {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #446084;
}

.popover {
    width: 300px;
}