/* Fonts */


/* Styles */

header.main-header {
    margin-bottom: 5vh;
}

/* Menu */

#menu {
    margin-bottom: 3vh;
}

#menu .menu-item {
    padding: 25px;
    border-bottom: 1px solid #446084;
    color: grey;
}

#menu .menu-item.active {
    color: #446084;
}

.rank-table table td {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
    height: 150px;
}

.rank-table {
    margin-bottom: 10vh;
}

.rank-table .see-more {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#paiement-form .form-group {
	margin-bottom: 5vh;
	margin-top: 5vh;
}

#paiement-form button {
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    width: 100%;
    outline: none;
}

#paiement-form #form-terms {
	width: 40px;
	height: 40px;
}

#paiement-form .error-message {
	font-size: 3.5vw;
}

.text-truncate {
    max-width: 350px;
}

/* paiement confirmation */

#bid-summary .confirm {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

#bid-summary .confirm button {
    margin: 10px;
}

#bid-summary article{
    min-height: 530px;
}

#bid-summary .top-rank {
    margin-bottom: 25px;
}

#bid-summary td, th {
    width: 40px;
    text-align: center;
}

#bid-summary table {
    width: 200px;
}

#bid-summary table {
    width: 135px;
}

#bid-summary .block-image .img, #bid-summary .block-image .img img {
    max-height: 800px;
    width: 100%;
}
#bid-summary .block-image .img {
    min-height: 250px;
}

#bid-summary .block-image header {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

#bid-summary .richest-text {
    position: relative;
    height: 60px;
    top: -60px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#bid-summary .richest-text span {
    word-break: break-all;
}

.main-area [data-rank="1"] img{
    min-height: 500px;
    max-height: 800px;
}

.main-area [data-rank="2"] img{
    min-height: 300px;
    max-height: 500px;
}

.main-area [data-rank="3"] img{
    min-height: 150px;
    max-height: 300px;
}

/* Bid part */

:root{
    --font-size-normal: 2rem;
}

#paiement-form .information,
#paiement-form .paiement {
    border: 4px solid #c9b25f;
    border-radius: 10px;
    padding: 25px;

}

.bid-more label{
    font-size: var(--font-size-normal);
}
.bid-more .fa{
    font-size:40px;
}

.info-icone{
    font-size:20px;
    padding-bottom:20px;
}

.icone-field-field{
    font-size:3rem;
    padding-left: 68px;
}

.icone-field-icone{
    position:absolute;
    left:10px;
    top:calc(50% - 20px);
}

.bid-more .btn-form-image{
    font-size:3rem;
}

#trump{
    font-size:3rem;
    border-radius : 8px;
}

#button-form-image span{
    font-size: var(--font-size-normal)
}

#paiement label {
    margin-top: 10px;
}

#form-image-text{
    padding-left:15px;
    position: relative;
    top: 7px;
}

.footer {
    margin-top: 100px;
    padding: 0;
    background-color: transparent;
    color: #c9b25f;
}

.footer .w-100 {
    height: 20px;
}

.footer .contact {
    color: #446084;
}

.footer .btn-social-icon {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #446084;
}