/************************* Variables ************************/

:root {
    --main-color-1: #212121;
    --main-color-2: gold;
}


/************************* Fonts ****************************/

@font-face {
    font-family: "Raleway-Italic";
    src: url('..\\fonts\\Raleway\\Raleway-Italic.ttf');
}

@font-face {
    font-family: "Raleway-Regular";
    src: url('..\\fonts\\Raleway\\Raleway-Regular.ttf');
}

h1,
.block-image .richest-text,
#paiement-form .error-message,
.popover,
.ita {
    font-family: "Raleway-Italic", sans-serif;
}

body,
#menu,
#paiement-form,
#bid-summary {
    font-family: "Raleway-Regular", sans-serif;
}

.block-image header {
    font-family: "Raleway-Regular", sans-serif;
    font-weight: bold;
}

.rank-table table {
    font-family: "Trebuchet MS"
}


/* Modals */

.modal .modal-title {
    font-size: 2rem;
}

.modal h6 {
    font-size: 1.7rem;
}

.modal .close {
    font-size: 3rem;
}

.modal .modal-body {
    font-size: 1.4rem;
}


/* First bar */

.messageBar>span {
    font-size: 1.2rem;
}


/* Menu */

.main-title h1 {
    font-size: 4rem;
}

#menu .fa {
    font-size: 2.6rem;
}

#menu .menu-item {
    font-size: 1.3rem;
}


/* Homepage */

.richest-text {
    font-size: 1.4rem;
}

.header-podium span {
    font-size: 1.4rem;
    font-weight: bold;
}

.podium.rank-1 {
    font-size: 15rem;
}

.podium.rank-2 {
    font-size: 12rem;
}

.podium.rank-3 {
    font-size: 8rem;
}

.homepage-information {
    font-size: 1.2rem;
}


/* Rank table */

.rank-table th,
.rank-table .index {
    font-size: 1.4rem;
}

.rank-table td {
    font-size: 1.3rem;
}

.rank-table .see-more {
    font-size: 2rem;
}

.rank-table .increase-bid {
    font-size: 3rem;
}


/* Bid more form */

#paiement-form label {
    font-size: 1.4rem;
}

.icone-field-field {
    padding-left: 3.5rem;
}

.icone-field input,
#button-form-image {
    font-size: 1.6rem;
}

.icone-field .fa {
    font-size: 2rem;
}

#paiement-form .error-message,
#paiement-form .outcome,
.invalid-feedback {
    font-size: 1.1rem;
}

#paiement-form button,
#trump,
.back-button {
    font-size: 1.6rem;
}

.bid-more .info-icon {
    font-size: 1.7rem;
}

.popover {
    font-size: 1.4rem;
}


/* Terms */

#terms-modal h5 {
    font-size: 2rem;
}


/* Confirm bid */

#bid-summary h2 {
    font-size: 3rem;
}

#bid-summary p {
    font-size: 1.5rem;
}

.recap {
    font-size: 1.7rem;
}

#bid-summary button {
    font-size: 1.5rem;
}


/************************* CSS ****************************/

button,
th strong,
.bold,
.rank-table-area h2,
.bid-more h2 {
    font-weight: bold;
}

strong {
    font-weight: normal;
}

.meta-description {
    position: absolute;
    opacity: 0;
    top: -10000px;
    left: -10000px;
}

.fa-facebook,
.fa-twitter {
    color: white;
}

.messageBar {
    width: 100%;
    background-color: #446084;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

body {
    min-width: 1000px;
    background-color: #fafafa;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

.rights {
    background: var(--main-color-1);
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-fluid {
    position: relative;
    top: -5px;
}

.container-fluid>header {
    margin-bottom: 10px;
}

.black-container {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.black-container img {
    max-height: 80vh;
    max-width: 80vw;
}

.black-container .close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-weight: 100;
    cursor: pointer;
}

.main-title a {
    text-decoration: none;
    cursor: pointer;
}

.error-message,
.invalid-feedback {
    display: none;
    color: #E4584C;
    font-family: "Raleway_ExtraLight";
}


/* Menu */

#menu .menu-item {
    color: white;
}

#menu .menu-item.active {
    color: var(--main-color-2);
    font-weight: bold;
}

#buy-button {
    background-color: var(--main-color-2) !important;
    opacity: 0.8 !important;
}

#buy-button:hover {
    cursor: pointer;
    opacity: 1 !important;
}

#trump,
.confirm button,
.back-button {
    color: var(--main-color-1);
    background-color: var(--main-color-2);
    border-radius: 4px;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

#trump:hover,
.confirm button:hover,
.back-button:hover {
    opacity: 1;
}

.paiement {
    display: none;
}

.paiement-success {
    display: none;
    padding: 40px;
    width: 20vw;
    height: 120px;
    background: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 2px -2px gray;
    margin: auto;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 9999;
}

.main-area.background-picto {
    position: absolute;
    color: #f2f2f2;
    z-index: -999;
}

.background-picto.bid-more {
    left: -60px;
    top: 50px;
}

.background-picto.rank-table-area {
    left: -350px;
    top: 60px;
}


/* Rank table part */

tr.line-ranked-table {
    cursor: pointer;
}

.rank-table-area {
    display: none;
}

.rank-table {
    color: var(--main-color-1);
}

.rank-table-area .header h2 {
    margin-top: 35px;
    margin-bottom: 25px;
}

.rank-table thead th {
    border-bottom: 2px solid var(--main-color-1);
    border-top: 2px solid var(--main-color-1);
}

.rank-table .index {
    width: 20px;
    font-weight: bold;
}

.rank-table .name-container {
    display: flex;
    align-items: center;
}

.rank-table .name {
    display: inline-flex;
}

.rank-table .thumb {
    display: inline-flex;
    align-items: center;
}

.rank-table .see-more {
    cursor: pointer;
    background: var(--main-color-2);
    color: var(--main-color-1);
    opacity: 0.8;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.rank-table .see-more:hover {
    opacity: 1;
}

#load-more:hover {
    background-color: transparent;
}


/* paiement confirmation */

#bid-summary .confirm .loading {
    display: none;
}

#bid-summary .richest-text span {
    word-break: break-all;
}

#bid-summary .recap {
    margin-top: 50px;
}

#bid-summary .recap table {
    display: flex;
    justify-content: center;
}

#bid-summary .confirm div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bid-summary button {
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

#bid-summary .richest-text {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #fafafa;
    color: #212121;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#bid-summary .confirm {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#bid-summary .confirm button {
    margin: 1.3rem;
}

#bid-summary .top-rank {
    margin-bottom: 25px;
}

#bid-summary .block-image .img {
    min-height: 250px;
}

.loading {
    display: none;
}

.main-title {
    margin-bottom: 2vh;
}


/* Homepage part */

.picture-area {
    margin-top: 20px;
}

.richest-area .top-rank {
    margin-bottom: 25px;
    color: var(--main-color-1);
}

.richest-area td,
.richest-area th {
    text-align: center;
}

.richest-area table .hide-timer {
    display: none;
}

.richest-area table {
    width: 200px;
    display: inline-flex;
    justify-content: center;
}

.block-image {
    position: relative;
}

.block-image .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-image .img img {
    position: relative;
}

.richest-area {
    position: relative;
}

.richest-area .richest-text {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    background-color: #fafafa;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.richest-area .richest-text span {
    word-break: break-all;
}

.others-area .top-rank {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.header-podium {
    margin-top: 15px;
    margin-bottom: 2px;
}

.podium {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    background-color: var(--main-color-2);
    padding-bottom: 20px;
    border-top: 10px solid var(--main-color-1);
    color: var(--main-color-1);
    box-shadow: 0px 0px 5px 2px #666666;
}

.podium.rank-1 {
    position: relative;
    top: 5px;
    height: 150px;
    z-index: 99;
}

.podium.rank-2 {
    height: 110px;
}

.podium.rank-3 {
    height: 90px;
}

.shadow {
    -moz-box-shadow: 0px 7px 47px 26px #cccccc;
    -webkit-box-shadow: 0px 7px 47px 26px #cccccc;
}

.homepage-information {
    margin-top: 85px;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
}

.homepage-information .info-picto {
    position: relative;
    left: -60px;
    margin-right: -40px;
    height: 130px;
}


/* Bid more part */

#increase-bid-area {
    display: flex;
    justify-content: center;
}

.rank-table .increase-bid {
    color: var(--main-color-2);
}

.bid-more .form-control {
    border: 0;
}

.img-input input:disabled {
    background-color: white;
}

.bid-more .information .form-group {
    position: relative;
}

.bid-more .info-icon {
    position: absolute;
    right: 0.7rem;
    top: 0.3rem;
    color: var(--main-color-1);
    cursor: pointer;
}

.icone-field .fa {
    color: var(--main-color-1);
}

.icone-field {
    position: relative;
    border: 2px solid var(--main-color-1);
    border-radius: 6px;
    padding: 0;
}

.bid-more {
    display: none;
    font-family: "Trebuchet MS", Arial, Verdana;
}

#form-image {
    display: none;
}

#button-form-image {
    text-align: left;
    background-color: white;
    border: 2px solid var(--main-color-1);
    border-radius: 6px;
    height: fit-content;
}

#button-form-image label {
    margin-bottom: 0;
}

.btn-form-image {
    background-color: var(--main-color-1);
    color: white;
    cursor: pointer;
    border-radius: 0px;
}

.btn-form-image:hover {
    opacity: 0.8;
}


/* Form */

#paiement-form .information,
#paiement-form .paiement {
    background-color: white;
    position: relative;
}

#paiement-form .star-legend {
    position: relative;
    text-align: right;
    bottom: -15px;
    margin-right: 5px;
    margin-top: 15px;
}

#paiement-form .terms {
    color: #666EE8;
    text-decoration: underline;
    cursor: pointer;
}

#paiement-form .checkbox {
    margin-bottom: 20px;
}

#paiement-form .outcome {
    min-height: 24px;
}

#paiement-form .success,
#paiement-form .error {
    display: none;
}

#paiement-form .success.visible,
#paiement-form .error.visible {
    display: inline;
}

#paiement-form .error {
    color: #E4584C;
}

#paiement-form .success {
    color: #666EE8;
}

#paiement-form .success .token {
    display: none;
}


/* Terms */

#terms-modal .modal-body {
    height: 60vh;
    overflow-y: auto;
}

#terms-modal .modal-dialog {
    overflow-y: initial !important;
}

#terms-modal h5 {
    margin-top: 40px;
    margin-bottom: 10px;
}

#terms-modal h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#terms-modal button {
    cursor: pointer;
}


/* Confirm bid */

#bid-summary .reload-image {
    text-decoration: underline;
    cursor: pointer;
    color: #666EE8;
}

#bid-summary .confirm div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}

#bid-summary .recap {
    margin-top: 20px;
}

#bid-summary .recap td,
#bid-summary .recap th {
    border: 0px;
}

.contact-us {
    color: white;
    cursor: pointer;
}

.rights span {
    color: white;
}


/* Footer */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-margin-top {
    min-height: 20vh;
}