/************************* Fonts ****************************/

@font-face {
    font-family: "CormorantGaramond_Light";
    src: url('..\\fonts\\Cormorant_Garamond\\CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: "CormorantGaramond_Bold";
    src: url('..\\fonts\\Cormorant_Garamond\\CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: "Raleway_ExtraLight";
    src: url('..\\fonts\\Raleway\\Raleway-ExtraLight.ttf');
}

body { 
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4em;
    font-family: "CormorantGaramond_Light";
}

.rank-header,
.richest-name {
    font-family: "CormorantGaramond_Bold";
}

.richest-text,
.clock,
.bid-more,
.menu-item,
.timer-part span {
    font-family: "Raleway_ExtraLight";
}

.clock {
    font-size: 1.5em;
}

.timer-part span {
    font-size: 0.8em;
}

.richest-text {
    font-weight: 600;
}

table td {
    font-family: "CormorantGaramond_Light";
    font-size: 1em;
}

.block-image .time table th {
	font-weight: normal;
	font-size: 8px;
}

.top-rank h2 {
	font-size: 3.5em;
}


/************************* CSS ****************************/

.fa-envelope{
    color : #446084;
}

.fa-facebook, .fa-twitter{
    color: white;
}
.contact{
    color : #dadace;
    font-size: 11px;
    cursor: pointer;
}
.contact:hover{
    color : white;
    text-decoration:none;
    /*border-top-style:solid;
    border-top-color: #BBD2E1;
    border-width:1px;*/
}

.footer {
    
    width:100%;
    background-color: #446084;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
body {
    min-width: 1000px;
    background-color: #fafafa;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.main-title a {
    text-decoration: none;
    color: #446084;
    cursor: pointer;
}
.error-message, .invalid-feedback {
    display: none;
	color: #E4584C;
	font-size: 13px;
	font-family: "Raleway_ExtraLight";
}

#buy-button:hover{
    cursor:pointer;
    background-color: #8389e2;
}

#trump, .confirm button {
  color: #ffffff;
  background-color: #666EE8;
  border-radius : 4px;
  border: none;
  padding: 15px 32px;
  cursor : pointer;
}

#trump:hover, .confirm button:hover {
background-color: #8389e2;
}

.paiement {
    display:none;
}

.paiement-success {
    display: none;
    padding: 40px;
    width: 20vw;
    height: 120px;
    background: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 2px -2px gray;
    margin: auto;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Rank table part */

.thumbs {
    max-height: 50px;
    max-width: 50px;
    cursor:pointer;
}

.black-container{
    display:none;
    position : fixed;
    height : 100%;
    width: 100%;
    background-color : rgba(0,0,0,0.6);
    z-index : 99999;
}

 tr{
     cursor:pointer;
 }

#ranked-image-fullSize {
    position: fixed;
    height: 400;
    width: 700;
    top : calc(50vh - 200px);
    right: calc(50vw - 350px);
    z-index:99999;
}

.rank-table-area {
    display: none;
}

.rank-header {
    max-height: 50px;
    padding: 14px;
    border: solid #e6e6e6;
    border-width: 1px 1px 0px 1px;
}

.rank-header img {
    position: absolute;
    right: 25px;
}

.rank-table .see-more {
    cursor: pointer;
}

.loading {
    display: none;
}

.main-title {
	margin-top: 1vh;
    margin-bottom: 2vh;
}

.main-title h1 {
    font-weight: bold;
}


/* Homepage part */

.price{
    display: inline-flex;
    width:20%;
    justify-content: flex-end;

}
.richest-area .top-rank {
	margin-bottom: 25px;
}

.block-image header {
	display: flex;
	align-items: center;
	background: white;
	border: solid #e6e6e6;
    border-width: 1px 1px 0px 1px;
}

.block-image .name {
    display: inline-flex;
    justify-content: flex-start;
    width: 80%;
}

.block-image .time {
    display: inline-flex;
    justify-content: flex-end;
    width: 45%;
}

.richest-area td, th {
    width: 40px;
    text-align: center;
}

.richest-area table .hide-timer{
    display:none;
}

.richest-area table {
    width: 200px;
    display: inline-flex;
    justify-content: center;
}

.others-area table {
    width: 135px;
}

.block-image .img {
	display: flex;
	justify-content: center;
    align-items: center;
	background: gainsboro;
}

.richest-area .block-image .img {
    min-height: 250px;
    max-height: 400px;
}

.block-image img {
	border: solid #e6e6e6;
    border-width: 1px;
    position: relative;
}

.richest-area {
	position: relative;
}

.richest-area .top-rank {
	color: #e8d254;
}
.others-area.order-1 .top-rank {
	color: #dadace;
}
.others-area.order-3 .top-rank {
	color: #edab60;
}

.richest-area .block-image header {
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
}

.richest-area .richest-text {
	position: relative;
	height: 60px;
	top: -60px;
	background-color: white;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.richest-area .richest-text span {
	word-break: break-all;
}

.others-area.hasText {
	margin-bottom: 60px;
}

.others-area .block-image header {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.others-area .top-rank{
	height: 100px;
	display: flex;
	flex-direction: column;
}

.others-area.order-1 .block-image .img, .others-area.order-1 .block-image img{
    min-height: 150px;
    max-height: 250px;
}

.others-area.order-3 .block-image .img, .others-area.order-3 .block-image img{
    min-height: 100px;
    max-height: 200px;
}


/* Bid more part */

.bid-more {
    display: none;
}

/* Form */

#paiement-form .information,
#paiement-form .paiement {
    border: 1px solid #e6e6e6;
    padding: 25px;
    background-color: white;
}

#paiement-form .star-legend {
    position: relative;
    text-align: right;
    margin-right: 5px;
}

#paiement-form .terms {
    color: #666EE8;
    text-decoration: underline;
}

#paiement-form button:focus {
    background: #555ABF;
}

#paiement-form button:active {
    background: #43458B;
}

#paiement-form .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
}

#paiement-form .success,
#paiement-form .error {
    display: none;
    font-size: 13px;
}

#paiement-form .success.visible,
#paiement-form .error.visible {
    display: inline;
}

#paiement-form .error {
    color: #E4584C;
}

#paiement-form .success {
    color: #666EE8;
}

#paiement-form .success .token {
    display: none;
}


/* Open page effect */

.main-title,
#menu,
.rich1 .richest-text,
.rich1 .header,
.rich2,
.rich3 {
    opacity: 0;
}

/* Confirm bid */
#bid-summary .reload-image {
    text-decoration: underline;
    cursor: pointer;
    color: #666EE8;
}