/************************* Fonts ****************************/

@font-face {
    font-family: "Raleway-Italic";
    src: url('..\\fonts\\Raleway\\Raleway-Italic.ttf');
}

@font-face {
    font-family: "Raleway-Regular";
    src: url('..\\fonts\\Raleway\\Raleway-Regular.ttf');
}

h1, .block-image .richest-text, #paiement-form .error-message, .popover {
    font-family: "Raleway-Italic", sans-serif;
}

body, #menu, .rank-table table, #paiement-form, #bid-summary {
    font-family: "Raleway-Regular", sans-serif;
}

.block-image header {
    font-family: "Raleway-Regular", sans-serif;
    font-weight: bold;
}


/************************* CSS ****************************/

.fa-envelope{
    color : #446084;
}

.fa-facebook, .fa-twitter{
    color: white;
}
.contact{
    color : #dadace;
    font-size: 11px;
    cursor: pointer;
}
.contact:hover{
    color : white;
    text-decoration:none;
    /*border-top-style:solid;
    border-top-color: #BBD2E1;
    border-width:1px;*/
}

.footer {
    
    width:100%;
    background-color: #446084;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

body {
    min-width: 1000px;
    background-color: #fafafa;
    min-height: 101vh;
    margin: 0;
}

.rights {
    margin-top: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-fluid {
    position: relative;
    top: -10px;
}

.container-fluid > header {
    margin-bottom: 10px;
}

.black-container{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.black-container img {
    max-height: 80vh;
    max-width: 80vw;
}

.black-container .close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.main-title a {
    text-decoration: none;
    color: #c9b25f;
    cursor: pointer;
}

.error-message, .invalid-feedback {
    display: none;
	color: #E4584C;
	font-size: 13px;
	font-family: "Raleway_ExtraLight";
}

#buy-button{
    background-color: #c9b25f !important; 
    opacity:0.8 !important;
}
#buy-button:hover{
    cursor:pointer;
    opacity:1 !important;
}

#trump, .confirm button {
  color: #ffffff;
  background-color: #c9b25f;
  border-radius : 4px;
  border: none;
  padding: 15px 32px;
  cursor : pointer;
  opacity:0.8;
}

#trump:hover, .confirm button:hover {
    opacity:1;
}

.paiement {
    display:none;
}

.paiement-success {
    display: none;
    padding: 40px;
    width: 20vw;
    height: 120px;
    background: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 2px -2px gray;
    margin: auto;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 9999;
}

.main-area.background-picto {
    position: absolute;
    color: #f2f2f2;
    z-index: -999;
}

.background-picto.bid-more {
    left: -60px;
    top: 50px;
}

.background-picto.rank-table-area {
    left: -350px;
    top: 60px;
}

.background-picto .fa {
    font-size: 900px;
}

/* Rank table part */

.thumbs {
    max-width: 80px;
    max-height: 50px; 
    cursor: pointer;
}

 tr.line-ranked-table{
     cursor: pointer;
 }

.rank-table-area {
    display: none;
} 

.rank-table-area .header h2 {
    margin-top: 35px;
    margin-bottom: 25px;
}

.rank-table thead th {
    border-bottom: 2px solid #c9b25f;
    border-top: 2px solid #c9b25f; 
}

.rank-table .index {
    width: 20px;
    font-weight: bold;
}

.rank-table .name-container {
    display: flex;
    align-items: center;
}

.rank-table .name {
    display: inline-flex;
}

.rank-table .thumb {
    display: inline-flex;
    align-items: center;
    width: 80px;
    height: 50px;
    margin-right: 15px;
}

.rank-table .see-more {
    cursor: pointer;
    background: #c9b25f;
    color: white;
    opacity: 0.8;
}

.rank-table .see-more:hover {
    opacity: 1;
}

#load-more:hover {
    background-color: transparent;
}

#bid-summary .confirm .loading {
    display: none;
}

.loading {
    display: none;
}

.main-title {
	margin-top: 1vh;
    margin-bottom: 2vh;
    padding-top:10px;
    padding-bottom:5px;
}

/* Homepage part */

.richest-area .top-rank {
	margin-bottom: 25px;
}

.block-image .time {
    display: inline-flex;
    justify-content: flex-end;
    width: 45%;
}

.richest-area td, th {
    width: 40px;
    text-align: center;
}

.richest-area table .hide-timer{
    display:none;
}

.richest-area table {
    width: 200px;
    display: inline-flex;
    justify-content: center;
}

.others-area table {
    width: 135px;
}

.block-image {
    position: relative;
}

.block-image .img {
	display: flex;
	justify-content: center;
    align-items: center;
	background: white;
    border: 1px solid gainsboro;
}

.block-image .img img {
	border: solid #e6e6e6;
    border-width: 1px;
    position: relative;
}

.richest-area {
	position: relative;
}

.richest-area .top-rank {
	color: #e8d254;
}

.richest-area .richest-text {
	position: absolute;
	height: 60px;
    width: 100%;
	bottom: 0;
	background-color: white;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.richest-area .richest-text span {
	word-break: break-all;
}

.others-area .top-rank{
	height: 100px;
	display: flex;
	flex-direction: column;
}

.header-podium {
    margin-top: 15px;
}

.podium {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    background-color: #c9b25f;
    padding-bottom: 15px;
    border-top: 10px solid #446084;
    color: white;
    font-size: 100px;
    box-shadow: 0px 0px 5px 2px #666666;
}

.podium.rank-1 {
    position: relative;
    top: 5px;
    height: 200px;
    z-index: 99;
}

.podium.rank-2 {
    height: 150px;
}

.podium.rank-3 {
    height: 130px;
}

.shadow {
    -moz-box-shadow: 0px 7px 47px 26px #cccccc;
    -webkit-box-shadow: 0px 7px 47px 26px #cccccc;
}

.homepage-information {
    margin-top: 85px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px white;
    border-radius: 3px;
    overflow: hidden;
}

.homepage-information .info-picto {
    position: relative;
    left: -60px;
    margin-right: -40px;
    height: 130px;
}

/* Bid more part */


.bid-more .form-control{
    border:0;   
}
.img-input input:disabled{
    background-color:white;  
}

.bid-more .information .form-group {
    position: relative;
}

.bid-more .info-icon {
    position: absolute;
    right: 3px;
    top: 3px;
    color: #9bacc2;
    cursor: pointer;
}

.icone-field .fa{
    color:#9bacc2;
}

.icone-field{
    position:relative;
    border: 2px solid #9bacc2;
    border-radius: 6px;
    padding:0;
}

.bid-more {
    display: none;
    font-family: "Trebuchet MS", Arial, Verdana;
}

#form-image{
    display:none;
}
#button-form-image{
    text-align:left;
    background-color:white;
    border: 2px solid #9bacc2;
    border-radius:6px;
    height:fit-content;
}
#button-form-image label{
    margin-bottom: 0;  
}
.btn-form-image{
    background-color:#9bacc2;
    cursor:pointer;
    border-radius:0px;
    border-right: 1px solid #9bacc2;
}
.btn-form-image:hover{
    background-color:lightgray;
}

/* Form */



#paiement-form .information,
#paiement-form .paiement {
    background-color: white;
    position: relative;
}

#paiement-form .star-legend {
    position: relative;
    text-align: right;
    bottom: -15px;
    margin-right: 5px;
    margin-top: 15px;
}

#paiement-form .terms {
    color: #666EE8;
    text-decoration: underline;
    cursor: pointer;
}

#paiement-form .checkbox {
    margin-bottom: 20px;
}

#paiement-form button:focus {
    background: #555ABF;
}

#paiement-form button:active {
    background: #43458B;
}

#paiement-form .outcome {
    min-height: 24px;
}

#paiement-form .success,
#paiement-form .error {
    display: none;
    font-size: 13px;
}

#paiement-form .success.visible,
#paiement-form .error.visible {
    display: inline;
}

#paiement-form .error {
    color: #E4584C;
}

#paiement-form .success {
    color: #666EE8;
}

#paiement-form .success .token {
    display: none;
}


/* Open page effect */

.main-title,
#menu,
.rich1 .richest-text,
.rich1 .header,
.rich2,
.rich3 {
    opacity: 0;
}

/* Confirm bid */
#bid-summary .reload-image {
    text-decoration: underline;
    cursor: pointer;
    color: #666EE8;
}

#bid-summary .confirm div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}

#bid-summary .recap {
    margin-top: 20px;
}