<div class="paiement-success text-center">
  Une nouvelle personne a surenchéri !! La nouvelle enchère est de <span class="bid-value"></span>
</div>
<div class="row main-title">
<!--    <div class="col-md-4 img1">
    <img class="float-right" src="images/static/header2.png">
  </div> -->
  <div class="col-12 text-center">
    <h1>
      <a href="https://quiestleplusriche.fr">
        <span>Qui est le plus riche ?</span>
      </a>
    </h1> 
  </div>
<!--    <div class="col-md-4 img2">
    <img class="float-left" src="images/static/header1.png">
  </div> -->
</div>

<!-- Menu area -->

<div class="row" id="menu">
  <div class="col dropdown">
    <img src="public/images/static/open-iconic-master/svg/menu.svg" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item menu-item text-center" id="rank-table-area">
        Classement
      </div>

      <div class="dropdown-item menu-item active text-center" id="picture-area">
        Image
      </div>

      <div class="dropdown-item menu-item text-center" id="bid-more">
        Enchérir
      </div>
    </div>
  </div>
</div>