<!DOCTYPE html>
<html>
<head>
    <title>C'est qui le plus riche ?</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobile.css' />
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css"/>
</head>
<body>

<div class="black-container"></div>

<% include footer %>

<div class="container-fluid">

  <header class="main-header">
    <% include header %>
  </header>
  
  <% include rankTable %>

  <!-- home page -->
  <div class="row main-area picture-area justify-content-center">
    <% include homepage %>
  </div>

  <% include bidForm %>

  <div id="bid-summary-container" class="row justify-content-center"></div>

  
  
</div>
    
<script src="/jquery/jquery.min.js"></script>
<script src="/popper/umd/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>  
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>
<script type="text/javascript" src="/javascripts/default.js" ></script> 
<script type="text/javascript" src="/javascripts/mobile.js" ></script> 
</body>
</html>