<% bidders.forEach(function(bidder, index){ %>
    <% include rankTableRow %>
<% }) %>

<% if(bidders.length === 10) { %>
<tr id="load-more">
  <td class="align-middle text-center" colspan="5">
    <button class="btn btn-block see-more" data-offset="<%= locals.offset ? offset : 10 %>">Voir plus</button>
    <div class="loading">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </td>
</tr>
<% } else { %>
<tr id="load-more">
	<td class="align-middle text-center" colspan="5">Plus d'<strong>enchérisseur</strong></td>
</tr>
<% } %>